html {
    scroll-behavior: smooth;
}

html,body {
    margin: 0;
    padding: 0;
}
body {
    font-family: system-ui;
    background: #2B2A6A;
    background-size: cover;
    background-repeat: no-repeat;
}
h1 {
    margin: 0;
    font-size: 4em;
    /* font-size: large; */
}
p {
    margin: 6px 0
}